**Ex:2(title of notebook)**

# MY_FirstProject_Assignment

**Ex:3(an introduction)**

In this notebook, we are going to summarize data science tools,libraries.

**Ex:4(Data Science languages)**

Some of the popular languages that Data Scientists use are: <br>
1.Python <br>
2.R <br>
3.C/C++ <br>
4.Java <br>
5.Julia <br>
6.JavaScript <br>
7.SQL <br>
8.Scala

**Ex:5(Data Science Libraries)**

Some of the commonly used libraries used by Data Scientists are: <br>
1.Matplotlib <br>
2.Pandas <br>
3.Numpy <br>
4.Seaborn <br>
5.Statsmodels <br>
6.Pytorch <br>
7.keras <br>
8.TensorFlow <br>
9.sciPy <br>
10.Scikit-learn <br>
11.Pyspark <br>
12.Ramp <br>
13.Stringr <br>
14.Rcpp <br>
15.ggplot2

**Ex:6(data Science Tools)**

Data Science Tools: <br>
<br>
1.Apache Hadoop <br>
2.Apache Spark <br>
3.Tableau <br>
4.SQL <br>
5.MATLAB <br>
6.Python <br>
7.R <br>
8.RapidMiner

**Ex:7(Below are Few examples for arithmetic operations)**

In [16]:
a=5
b=6

In [15]:
a+b

24

In [4]:
a-b

-1

In [5]:
a*b

30

In [6]:
a%b

5

In [7]:
a//b

0

In [8]:
a**b

15625

**Ex:8(Simple arithmetic expression to multiply and add)**

In [9]:
a=(2*5)+8
a

18

**Ex:9(To convert minutes to hours)**

In [12]:
minutes = 324
hours = minutes // 60
remaining_minutes = minutes % 60
print(hours,"hrs",remaining_minutes,"min")

5 hrs 24 min

**Ex:10(list objectives)**

We covered data science languages in Exercise 4 <br> data science tools and libraries till exercise 6 <br> we covered basic arithmetic operations and some programs.

**Ex:11(Author name)**

Arun Shankar